<br />
<br />
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-xs-12 col-md-4">
      <label>First Operand</label>
      <input type="text"
             formControlName="firstNumber"
             class="form-control" />
      <div *ngIf="form.controls['firstNumber'].invalid && (form.controls['firstNumber'].dirty || form.controls['firstNumber'].touched)" class="alert alert-danger">
        <div *ngIf="form.controls['firstNumber'].errors?.['required']">
          First operand is required.
        </div>
      </div>
    </div>
    <div class="form-group col-xs-12 col-md-4">
      <label>Operator</label>
      <select class="form-control" formControlName="operator">
        <option value="">Choose...</option>
        <option>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
      </select>
      <div *ngIf="form.controls['operator'].invalid && (form.controls['operator'].dirty || form.controls['operator'].touched)" class="alert alert-danger">
        <div *ngIf="form.controls['operator'].errors?.['required']">
          Operator is required.
        </div>
      </div>
    </div>
    <div class="form-group col-xs-12 col-md-4">
      <label>Second Operand</label>
      <input type="text"
             formControlName="secondNumber"
             class="form-control" />
      <div *ngIf="form.controls['secondNumber'].invalid && (form.controls['secondNumber'].dirty || form.controls['secondNumber'].touched)" class="alert alert-danger">
        <div *ngIf="form.controls['secondNumber'].errors?.['required']">
          Second operand is required.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col text-center">
      <input type="submit" class="btn btn-primary" value="Calculate" />
    </div>
  </div>
</form>
<div class="text-center" *ngIf="displayRequestStatus">
  <div class="text-success" *ngIf="isRequestSuccessful">
    Request submitted successfully
  </div>
  <div class="text-danger" *ngIf="!isRequestSuccessful">
    Unable to submit request
  </div>
</div>
<br />
<br />
<div *ngFor="let operation of operations">
  <div class="card p-4">
    {{operation.firstNumber}} {{operation.operator}} {{operation.secondNumber}} = {{operation.result}}
    <br /><br />
    <b><i>{{operation.status}}</i></b>
  </div>
  <br/>
</div>

